body{
	width:1900px;
	word-break: break-all;
	word-wrap:break-word;
	}
.selectarea{
	width:400px;
	height:auto;
	display:block;
	float:left;
	min-height:800px;
	background-color:#cfcd35;
}

.selectarea input{
	
}
.actionbtn{
	width: 140px;
	height: 30px;
	line-height: 25px;
	font-family: "微软雅黑", "microsoft yahei";
	cursor: pointer;
	margin-top: 10px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	background-color: #567f56;
	color: #fff;
	box-shadow: 0 -3px 0 #2a6496 inset;
	-webkit-box-shadow: 0 -3px 0 #2a6496 inset;
}
.deatillist{
	width:1100px;
	height:auto;
	display:block;
	float:left;
	min-height:800px;
}
.simplearea{
	width:400px;
	height:auto;
	display:block;
	float:left;
	min-height:800px;
	background-color:#e5c7dc;
}	

.mycontainer{
	width:400px;
	height:auto;
	display:block;
	float:left;
	}
	
#btnarea{
	width:400px;
	height:60px;
	display:block;
	float:left;	
	
}
.mylabel{
 width:400px;
 height:40px;
 text-align:left;
 font-size:30px;
 font-weight:bold;
 display:block;
 float:left;
}

.label-list{
 padding-left:30px;
 width:400px;
 height:50px;
 text-align:left;
 font-size:15px;
 font-weight:bold;
 display:block;
 float:left;
 }
.resultlist{
	width:1100;
	height:auto;
	display:block;
	float:left;
	background-color:#c6f5da;
	border:1px solid #000;
}
.myown1{
font-size:15px;
color:#2a783b;
}
.myown2{
font-size:15px;
color:#f57082;
}
.countarea{
font-size:15px;
color:#2a783b;
width:400px;

}
