#left-menu{
	width: 250px;
	
	float: left;
}
#display-area{
	padding-left: 5px;
	width: 1600px;
	float:left;
	min-height:700px;
}




    
 
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        