<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trc.dao.AdminDao">	
	<!-- 更新用户权限 -->
    <select id="setAuthority"  resultType="Integer">  
 	update sys_user set add_data=#{1},modify_data=#{2},delete_data=#{3} where id=#{0}
    </select> 
    <!-- 修改用户密码 -->
    <select id="modifyPassword"  resultType="Integer">  
 	update sys_user set password=#{1} where id=#{0}
    </select> 
    
</mapper>